body{
    background-color:#f7929a;
}
     
#container{
    text-align:center;
    max-width:450px;
    margin:0 auto;
}
.block{
    width:50%;
    height:50%;
    padding:20px 20px 20px 20px;
    display:inline-block;
}
