html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color:#f7929a;
}

div {
    width: 50%;
    height: 50%;
    float: left;
}

@font-face {
    font-family: Panic;
    src: url("Panic.ttf") format("truetype");
}

.head {
    height: 100%
}

h1 {
    font-family: Panic;
    font-size: 80px;
}

h2 {
    font-family: Futura, sans-serif;
    font-size: 30px;
}

p {
    font-family: Futura, sans-serif;
    font-size: 20px;
}
