body{
    background-color:#f7929a;
}

@font-face {
    font-family: Panic;
    src: url("Panic.ttf") format("truetype");
}

h1{
    font-family: Panic;
}

h2{
    font-family: Futura, sans-serif;
}

#container{
    text-align:center;
    width:50%
    margin:auto;
}
.block{
    width:50%;
    height:50%;
    padding:20px 20px;
    display:inline-block;
}
