body{
    background-color:#f7929a;
}

@font-face {
    font-family: Panic;
    src: url("Panic.ttf") format("truetype");
}

h1{
    font-family: Panic;
}

h2{
    font-family: Futura, sans-serif;
}

#block1{
    display:inline;
    width:50%
    margin:auto;
}
#block2{
    display:inline;
    width:50%
    margin:auto;
}
