@font-face {
    font-family: "Panic";
    src: url("./Panic.ttf") format("truetype");
}

body{
    background-color:#f7929a;
}

h1{
    font-family: "Panic";
}

#container{
    text-align:center;
    width:50%
    margin:auto;
}
.block{
    width:100%;
    height:100%;
    padding:20px 20px;
    display:inline-block;
}
