html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color:#f7929a;
}

div {
    width: 50%;
    height: 50%;
    float: left;
}

@font-face {
    font-family: Panic;
    src: url("Panic.ttf") format("truetype");
}

.head {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#head2 {
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: Panic;
    font-weight: lighter;
    font-size: 100px;
    text-align: center;
    margin: 20px 0px 0px;
}

h2 {
    font-family: Panic;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
}

p {
    font-family: Futura, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: blueviolet;
}
